body {
    margin: 0px;
  }
  
  .admin-container {
    width: 100%;
    height: auto;
  }
  
  .admin-name {
    font-size: 22px;
    text-align: center;
  }
  
  .submit-container {
    gap: 10px;
  }
  
  .first-input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .first-input {
    width: 30%;
  }
  
  .second-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .second-input {
    width: 60%;
    margin: 10px 10px;
  }
  
  .description {
    height: 220px;
    border-radius: 12px;
    padding: 10px;
    border: 1.5px solid rgb(0 0 0 / 10%);
    outline: none;
  }
  
  input {
    border-radius: 12px;
    padding: 10px;
    border: 1.5px solid rgb(0 0 0 / 10%);
    outline: none;
  }
  
  .button {
    background-color: #6366f1;
    padding: 12px 28px;
    font-size: 15px;
    font-weight: bold;
    color: #f8fafc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
  }
  
  /* job-list */
  
  .job-list-name {
    text-align: center;
  }
  
  .company-card-name {
    color: red;
    font-size: 1.5rem;
  }
  
  .job-list-container {
    padding: 0;
    margin: 0 auto; /* Center the job list container */
    width: 100%; /* Ensure it takes the full width */
  }
  
  .job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  
  .job-card {
    background-color: #ffffff;
    width: 90%; /* Reduce width to leave space for margins */
    margin: 0 auto; /* Center the job card */
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; /* Ensures padding/border don't affect width */
  }
  
  /* Adding space to left and right */
  .job-card {
    margin-left: 5%;  /* Add 5% margin to the left */
    margin-right: 5%; /* Add 5% margin to the right */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .add-edit-button {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }

  .loader-container{
    display: flex;
    justify-content: center;
  }
  
  /* Mobile styles */
  @media (max-width: 480px) {
    .first-input {
      width: 50%;
    }
  
    .second-input {
      width: 95%;
    }
  
    .job-card {
      width: 90%; /* Ensure the job card width takes the full width */
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  